asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.3.0
dj-database-url==2.1.0
Django==4.2.6
django-appconf==1.0.5
django-compressor==4.4
django-cors-headers==4.3.1
django-filter==23.3
gunicorn==21.2.0
idna==3.4
packaging==23.2
psycopg2-binary==2.9.9
rcssmin==1.1.1
requests==2.31.0
rjsmin==1.2.1
sqlparse==0.4.4
typing_extensions==4.8.0
urllib3==2.0.6
whitenoise==6.5.0
