{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="flex flex-col items-center bg-white mx-20 my-10">
    <form id="reg-form" method="POST">
        {% csrf_token %}
        <div class="grid grid-cols-1 gap-y-5 gap-x-4">
            <div>
                <label class="text-sm font-medium" for="id_judul">Book Title:</label>
                <select
                    class="appearance-none bg-[url('/static/img/chevron_down.svg')] bg-no-repeat bg-right bg-sm bg-origin-content border w-full rounded-lg text-sm px-3 py-2"
                    name="judul" id="id_judul">
                    <option selected value="">Choose...</option>
                    {% for item in owned %}
                    <option value="{{ item.BookTitle }}">{{ item.BookTitle }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label class="text-sm font-medium" for="id_halaman_terakhir">Last Page:</label>
                <input class="border w-full rounded-lg text-sm px-3 py-2" type="text" name="halaman_terakhir"
                    placeholder="5" maxlength="5" required id="id_halaman_terakhir" />
            </div>
        </div>
        <button id="submit-btn"
            class="text-sm text-[#002F6E] disabled:text-black mt-10 w-40 bg-[#b7d5eb] disabled:bg-gray-300 transition duration-200 hover:bg-[#80badc] rounded-lg py-2"
            type="submit">Submit</button>
    </form>
</div>
<script src="{% static 'script.js' %}"></script>

{% endblock content %}