.font-inter {
    font-family: 'Inter', sans-serif;
}
.new-label {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    padding: 0.5rem 1rem;
    background-color: #0074D9;
    color: #fff;
    border-radius: 50%;
    font-weight: bold;
}
.see-details-button {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}
.filter-box {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1.5rem; 
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}
.filter-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5rem;
}
.filter-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem;
    margin-right: 10px;
}
.filter-btn {
    color: #3992C6;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.filter-btn:hover {
    background-color: #ccc;
}