{% extends "base.html" %}

{% block meta %}
    <title>Q&A | Literasea</title>
    <!-- Include the Inter font from a font CDN -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <style>
        /* Apply the Inter font to specific elements */
        .font-inter {
            font-family: 'Inter', sans-serif;
        }
        /* Style for the "New" label */
        .new-label {
            position: absolute;
            top: 0;
            right: 0;
            margin: 1rem;
            padding: 0.5rem 1rem;
            background-color: #0074D9;
            color: #fff;
            border-radius: 50%;
            font-weight: bold;
        }
        /* Style for the "See Details" button */
        .see-details-button {
            position: absolute;
            bottom: 1rem;
            left: 1rem;
        }
        #id_title,
        #id_question {
            font-size: 0.875rem;
            line-height: 1.25rem; 

            @media (min-width: 768px) { 
                font-size: 1rem;
                line-height: 1.5rem; 
            }

            padding-top: 0.5rem;
            padding-bottom: 0.5rem; 
            padding-left: 0.75rem;
            padding-right: 0.75rem; 
            border-width: 1px; 
            width: 100%; 
        }
        #id_question {
            resize: none; 
        }
    </style>
{% endblock meta %}

{% block content %}
<div class="container mx-auto">
    <div class="flex flex-col align-center justify-center my-8">
        <p class="font-inter font-bold text-center">Choose the book you want to ask about!</p>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-5 gap-4 px-4 md:px-0">
        {% for book in products %}
        <div class="max-w-md rounded overflow-hidden shadow-lg bg-white relative border">
            <div class="relative">
                <img class="w-full h-64 object-cover" src="{{ book.Image }}" alt="{{ book.BookTitle }}">
<!-- Display the "New" label for the 10 latest books by ID -->
    <button onclick="showQuestionModal({{book.id}})"
                    class="see-details-button bg-[#3992C6] hover:bg-[#247FB8] text-white font-inter text-sm md:text-base font-medium py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Ask Question
                </button>
            </div>
            <div class="px-4 md:px-6 py-4">
                <div class="md:text-xl text-[#005b9c] font-inter font-bold mb-2">
                    {{ book.BookTitle }}
                </div>
                <div class="text-xs md:text-sm text-gray-600 mb-2">
                    by {{ book.BookAuthor }}
                </div>
                <div class="text-xs md:text-sm text-gray-600 mb-4">
                    Published: {{ book.Year_Of_Publication }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% include 'ask_question_modal.html' %}
{% endblock content %}
{% block script %}
<script src="/static/js/nav_script.js"></script>
<script src="/static/js/modal_script.js"></script>
{% endblock script %}