{% extends "base.html" %}

{% block content %}

<div class="flex flex-col mx-5 mt-5 py-5">
    <div class="flex justify-between items-center md:justify-around">
        <h1 class="font-bold text-3xl"> Your Cart </h1>
        <a href="{% url 'cart:show_history' %}" >
            <div class="border-2 border-[#00134E] rounded-full px-5 font-bold">Order History</div>
        </a>
    </div>

    <hr class="w-[500px] h-[2.5px] mx-auto my-4 bg-[#00134E] bg-opacity-20 border-0 rounded md:w-[750px]">

    <div class="flex flex-col-reverse justify-between mt-10 md:justify-around md:flex-row">

        <div id="cart_content" class="mr-5"></div>
        
        <div class="flex flex-col ml-5 self-center md:self-start">
            <div class="flex flex-col bg-[#e0f3ff] justify-center min-h-[150px] w-[300px] px-10 py-8 pb-14 rounded-2xl">
                <h1 class="font-bold text-xl"> Summary </h1>
                <div class="flex flex-col mt-8">
                    <div class="flex justify-between">
                        <div> Books ordered </div>
                        <div id="books_total"></div>
                    </div>
                    <div class="flex justify-between"> 
                        <div> Price per book </div>
                        <div id="books_price">100</div>
                    </div>
                </div>
                <div class="flex justify-between mt-6">
                    <div class="font-semibold text-xl"> Total </div>
                    <div id="total_price" class="font-semibold text-lg"></div>
                </div>
            </div>
            <button id="myBtn" class="self-center mt-4 font-bold bg-[#3894C8] text-[#FBFDFF] w-[240px] rounded-2xl p-0.5 py-1 cursor-pointer">Checkout Books</button>
        </div>
        
    
    </div>

</div>

<!-- MODAL -->
<div id="myModal" class="modal hidden fixed z-10 left-0 top-0 w-[100%] h-[100%] overflow-auto bg-black bg-opacity-50">
    <!-- Modal content -->
    <div class="modal-content flex flex-col bg-[#FBFDFF] mt-[15%] mx-auto rounded-2xl pt-[5px] p-[20px] w-[80%] md:w-[60%] lg:w-[40%]">

        <span class="close self-end cursor-pointer text-2xl">&times;</span>

        <div class="mt-2 ml-4">
            <h1 class="text-2xl text-[#00134E] font-bold">Data</h1>
            <hr class="w-[45px] h-[1px] ml-[5px] mt-4 bg-[#00134E] bg-opacity-20 border-0 rounded">
        </div>
        <div class="flex flex-row justify-center mt-8">
            <form action="." method="POST" id="checkoutForm" onsubmit = "return false">
                {% csrf_token %}
                <div class="flex items-center justify-end">
                    <h4 class="text-xs md:text-base font-medium text-[#00134E] mr-2 ">Nama Pembeli</h4>
                    {{form.nama}}
                </div>
                <div class="flex items-center justify-end">
                    <h4 class="text-xs md:text-base font-medium text-[#00134E] mr-2">Alamat Tujuan</h4>
                    {{form.alamat}}
                </div>
                
            </form>
        </div>

        <div class="flex justify-end mt-16">
            <input type="submit" id="button_cancel" value="Cancel" class="mt-2 mr-2 text-center font-bold bg-[#FBFDFF] text-[#3894C8] border-2 border-[#3894C8] w-[100px] rounded-2xl p-0.5 py-1 cursor-pointer">
            <input type="submit" id="button_checkout" value="Confirm" class="mt-2 mr-2 text-center font-bold bg-[#3894C8] text-[#FBFDFF] w-[200px] rounded-2xl p-0.5 py-1 cursor-pointer">
        </div>
    </div>

</div>

    {% comment %} <div>
    
        {% for book in cart %}
        <div class="flex m-5 bg-white">
            <div class="m-5">
                <img src="{{book.Image}}" width="80px">
            </div>
            <div class="m-5">
                <p>{{book.BookTitle}}</p>
                <p>{{book.BookAuthor}}</p>
                <p>{{book.Year_Of_Publication}}</p>
                <p>{{book.Publisher}}</p>
            </div>
            <div class="items-center">
                <a href="{% url 'cart:remove' book.id %}">Remove From Cart</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <a href="{% url 'cart:checkout_cart' %}">next</a> {% endcomment %}
    


{% endblock content %}

{% block script %}
<script src="/static/cart.js"></script>

{% endblock script %}
