{% extends "base.html" %}

{% block content %}

<div class="mt-5 p-5 m-5">

    <div class="flex ml-[20%]">
        <h1 class="font-bold text-3xl"> My Orders </h1>
    </div>

    <hr class="w-[500px] h-[2.5px] mx-auto my-4 bg-[#00134E] bg-opacity-20 border-0 rounded md:w-[750px] mb-20">

    {% for item in history reversed %}
    <div class="flex flex-col bg-[#E9F7FF] m-5 w-[100%] mx-auto rounded-3xl py-5 px-10 md:w-[50%]">
        <div class="flex justify-around">
            <div class="flex flex-col items-start">
                <h1 class="text-xl font-bold text-[#00134E]">ORDER FINISHED</h1>
                <p>{{item.nama}}</p>
            </div>
            <div class="flex flex-col items-center">
                <h1 class="text-base font-extrabold text-[#00134E] text-opacity-40">ADDRESS:</h1>
                <p>{{item.alamat}}</p>
            </div>
            <div class="flex flex-col items-center">
                <h1 class="text-base font-extrabold text-[#00134E] text-opacity-40">ORDER DATE:</h1>
                <p>{{item.tanggal}}</p>
            </div>
        </div>

        <hr class="w-[95%] h-[2px] mx-auto my-4 bg-[#00134E] bg-opacity-10 rounded">

        <div>
            <p class="text-base font-extrabold text-[#00134E] text-opacity-40 mb-5">BOOKS ORDERED: </p>

            {% for i in item.buku.all%}

            <p class="m-2 ml-5">{{i.BookTitle}}</p>

            {% endfor %}
        </div>
    </div>

    {% endfor %}
</div>

{% endblock content %}