{% extends 'base.html' %}

{% block meta %}
<title>Review | Literasea</title>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
{% endblock meta %}
{% block content %}
    <div class="container mx-auto font-inter">
        <p class="mt-12 text-center text-4xl font-gabarito font-bold text-[#005b9c]">Review Your Book!</p>
        <p class="mt-12 text-center text-4xl font-gabarito font text-[#146C94]">Join our vibrant community of book lovers and share your unique insights and opinions by adding your book reviews!</p>
        <div class="flex justify-center my-12">
            <a href="{% url 'review:choose_book_review' %}">
                <button style="border-radius: 15px;" href="{% url 'review:choose_book_review' %}" class="bg-[#005b9c] flex items-center justify-center gap-2 text-white font-raleway font-medium pr-4 pl-3 py-2" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                        <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                      </svg>              
                    <p class="-mb-0.5" >
                    Add Your Review
                    </p>
                </button>
            </a>
            </a>    
        </div>
        <div class="flex flex-col grid grid-cols-1 md:grid-cols-2 gap-x-10 gap-y-10 p-4 md:p-10">
            {% for p in review %}
            <div style ="background-color: #B7D5EB;" id = "cardReview" class="border border-blue-500 flex flex-col justify-between rounded-lg p-6 shadow-[5px_5px_0px_0px_rgba(52,107,148)]">
                <div class="flex">
                    <img class="h-16 md:h-32 flex pr-2" src="{{p.book_review.Image}}">
                    <div class="flex flex-grow pr-2">
                        <div class="ml-4 flex-grow max-w-full">
                            <p class="text-start font-bold">{{p.book_review.BookTitle}}</p>
                            <p class="text-start text-slate-500">{{p.book_review.BookAuthor}}</p>
                            <p class="text-start text-slate-700">Rate : {{p.rating}}/5</p>
                        </div>
                    </div>
                    <div>
                        <p class="text-end text-sm text-slate-700">Reviewed by {{p.user.userprofile.full_name}}</p>
                        <p class="text-end mt-4 md:mt-6 text-sm md:text-base maxwidth font-serif">" {{p.review_message}} "</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}

{% block script %}
<script src="/static/js/nav_script.js"></script>
<script src="/static/js/review.js"></script>
{% endblock script %}